// Keybinds
include "binds.kdl"

// Startup
include "startup.kdl"

// Attributes
include "attributes.kdl"

// Window rules
include "rules.kdl"

// Environment
include "environment.kdl"

// Cursor
include "cursor.kdl"

// Input
include "input.kdl"

// Monitors
include "monitors.kdl"

// Layout
include "layout.kdl"

// Animations
include "animations.kdl"
