input {
    keyboard {
        xkb {
            layout "br"
            variant "thinkpad"
        }

        repeat-delay 270
        repeat-rate 40
        numlock
    }

    touchpad {
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        accel-speed 0.1
        scroll-factor 0.3
        // accel-profile "flat"wheel_scroll_multiplier 5.0wheel_scroll_multiplier 5.0
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
    }

    trackpoint {
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    warp-mouse-to-focus
    // focus-follows-mouse
    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
}
