// Discord
window-rule {
  match app-id="discord"
  scroll-factor 0.5
  open-maximized true
}

// Brave
window-rule {
  match app-id="brave"
  scroll-factor 1.0
  open-maximized true
}

// Firefox
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// BurpSuite
window-rule {
    match app-id="burp-StartBurp"
    match title=r#"^Burp Suite.*$"#
    open-maximized true
}
window-rule {
    match app-id="burp-StartBurp"
    exclude title=r#"^Burp Suite.*$"#
    open-floating true
}
